body {
  margin: 0;
  font-family: "M PLUS 1", "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a1a;
  overflow-x: hidden;
  color: whitesmoke;
}

a {
  margin: 0;
  text-decoration: none;
  text-align: center;
  color: black;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
#three-background {
  width: 100%;
  height: 100%;
  /* display: flex; */
}

.name {
  width: 100vw;
  height: auto;
  display: flex;
  flex: center;
}
h1 {
  color: white;
  font-weight: 800;
  font-size: 60px;
  margin: 0px;
  user-select: none;
}

h2 {
  font-size: 30px;
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 10px;
  color: #fff7b1;
}
section {
  padding: 50px;
  margin-bottom: 50px;
  .projectSection {
    display: flex;
    gap: 1vw;
    margin: 50px 150px;
    flex-direction: row;
    justify-content: center;
  }
  .projectInfo {
    min-width: 300px;
    max-width: 350px;
    margin-bottom: 20px;
    background-color: #06060679;
    padding: 30px;
    border-radius: 20px;
    align-self: center;
    height: fit-content;
  }

  .projectImage {
    border-radius: 15px;
    max-height: 50%;
    width: 300px;
    object-fit: cover;
  }

  .projectDescription {
    color: #9d9a86;
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
  }
  .skillTagContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 7px 7px;
    margin-bottom: 15px;
  }
  .skillTag {
    /* width: fit-content; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    background-color: #444;
    border-radius: 8px;
    color: rgba(227, 228, 189, 0.95);
    font-family: monospace;
    align-items: center;
    padding: 3px 8px;
  }

  .skillIcon {
    width: 15px;
    height: 15px;
  }

  .line {
    width: 450px;
  }
}

.flex {
  display: flex;
  gap: 10px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.buttonContainer {
  font-family: monospace;
  font-size: 15px;
  border-radius: 7px;
  font-weight: 700;

  .primaryButton {
    @extend .buttonContainer;
    width: 150px;
    background: #c2ba80;
    padding: 8px 10px;
  }

  .secondaryButton {
    @extend .buttonContainer;
    border: 2px solid #8f8d7f;
    width: 150px;
    background-color: transparent;
    border-radius: 7px;
    color: #8f8d7f;
    padding: 6px 10px;
  }
}
