body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
#three-background {
  width: 100%;
  height: 100%;
  /* display: flex; */
}

.name {
  width: 100vw;
  height: auto;
  display: flex;
  flex: center;
}
h1 {
  font-family: "Khula", cursive;
  color: white;
  font-weight: 800;
  font-size: 60px;
  margin: 0;
  user-select: none;
}
