.scrollContainer {
  padding: 40px;
  width: calc(100vw - 80px);
  position: relative;
}

.addPageMargin {
  margin-top: 150vh;
}
.projectSection {
  display: flex;
  gap: 1vw;
  margin: 50px 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 1000ms linear 0ms;

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }

  @media screen and (max-width: 400px) {
    margin: 0;
    margin-top: 30px;
    flex-direction: column;
  }
}
.projectInfo {
  min-width: 300px;
  max-width: 350px;
  margin: 0;
  margin-bottom: 20px;
  background-color: #06060679;
  padding: 50px 30px;
  border-radius: 20px;
  height: fit-content;
  align-self: center;
  transition: all 1000ms linear 0ms;

  @media screen and (max-width: 1300px) {
    transform: scale(0.81);
  }
  @media screen and (max-width: 400px) {
    border-radius: 10px;
    margin-top: -6vw;
    margin-bottom: 0px;
  }
}

.switchSide {
  order: -1;
}
.projectImage {
  object-fit: cover;
  border: 5px solid rgba(84, 84, 84, 0.26);
  border-radius: 53px;
  width: 60vw;
  height: 44vw;
  filter: grayscale(1);
  transition: all 100ms linear 0ms;
  &:hover {
    filter: grayscale(0);
  }

  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;

  @media screen and (max-width: 1000px) {
    height: 60vh;
    width: 90vw;
  }
  @media screen and (max-width: 400px) {
    border-width: 3px;
    align-items: center;
    justify-self: center;
    height: 100vw;
    border-radius: 10px;
    width: 82vw;
  }
}

.projectDescription {
  color: #9d9a86;
  font-family: "URWDIN-Regular";
  text-align: justify;
  font-style: normal;
  font-weight: 800;
  padding: 3px 10px;
  font-size: 15px;
}
.skillTagContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 7px 7px;
  margin: 15px 0;
}
.skillTag {
  /* width: fit-content; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background-color: #444;
  border-radius: 8px;
  color: #cbc9b6;
  font-family: monospace;
  align-items: center;
  padding: 3px 8px;
}

.skillIcon {
  width: 15px;
  height: 15px;
}
