.scrollContainer {
  margin-top: 150vh;
  padding: 40px;
  width: calc(100vw - 80px);
}
.projectSection {
  display: flex;
  gap: 1vw;
  margin: 50px 150px;
  flex-direction: row;
  justify-content: center;
  display: relative;
}
.projectInfo {
  min-width: 300px;
  max-width: 350px;
  margin-bottom: 20px;
  background-color: #06060679;
  padding: 50px 30px;
  border-radius: 20px;
  align-self: center;
  height: fit-content;
}

.switchSide {
  order: -1;
}
.projectImage {
  object-fit: cover;
  border: 10px solid rgba(84, 84, 84, 0.26);
  box-shadow: 0px 2px 3px 4px rgba(0, 0, 0, 0.156);
  border-radius: 53px;
  max-width: 60vw;
  filter: grayscale(1);
  transition: all 100ms linear 0ms;
  &:hover {
    filter: grayscale(0);
  }
}

.projectDescription {
  color: #9d9a86;
  text-align: justify;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
.skillTagContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 7px 7px;
  margin: 15px 0;
}
.skillTag {
  /* width: fit-content; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background-color: #444;
  border-radius: 8px;
  color: #cbc9b6;
  font-family: monospace;
  align-items: center;
  padding: 3px 8px;
}

.skillIcon {
  width: 15px;
  height: 15px;
}
