@use "./projectSection";

body {
  margin: 0;
  font-family: "M PLUS 1", "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a1a;
  overflow-x: hidden;
  color: whitesmoke;
}

a {
  margin: 0;
  text-decoration: none;
  text-align: center;
  color: black;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
#three-background {
  width: 100%;
  height: 100%;
  /* display: flex; */
}

.name {
  width: 100vw;
  height: auto;
  display: flex;
  flex: center;
}
h1 {
  color: white;
  font-weight: 800;
  font-size: 60px;
  margin: 0px;
  user-select: none;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff7b1;
}
section {
  padding: 50px;
  margin-bottom: 50px;

  .line {
    width: 450px;
  }
}

.flex {
  display: flex;
  gap: 10px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.buttonContainer {
  font-family: monospace;
  font-size: 15px;
  border-radius: 7px;
  font-weight: 700;
  transition: all linear 200ms;

  .primaryButton {
    @extend .buttonContainer;
    width: 150px;
    background: #c2ba80;
    padding: 8px 10px;
    &:hover {
      width: 240px;
    }
  }

  .secondaryButton {
    @extend .buttonContainer;
    border: 2px solid #8f8d7f;
    width: 150px;
    background-color: transparent;
    border-radius: 7px;
    color: #8f8d7f;
    padding: 6px 10px;
    &:hover {
      width: 240px;
    }
  }
}
