@use "./projectSection";
@use "./button";

$small: 400px;
$medium: 900px;

@font-face {
  font-family: "URWDIN-Regular";
  src: url("/fonts/URWDIN-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "URWDIN-Bold";
  src: url("/fonts/URWDIN-Bold.ttf") format("truetype");
}
body {
  margin: 0;
  font-family: "URWDIN-Bold", "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a1a;
  // overflow-x: hidden;
  color: whitesmoke;
}

.background {
  mix-blend-mode: multiply;
  position: absolute;
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
}

a {
  margin: 0;
  text-decoration: none;
  text-align: center;
  color: black;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
#three-background {
  width: 100%;
  height: 100%;
  /* display: flex; */
}

.name {
  width: 100vw;
  height: auto;
  display: flex;
  flex: center;
}
h1 {
  color: white;
  font-weight: 800;
  font-size: 60px;

  margin: 0px;
  user-select: none;
  transition: all 1000ms linear 0ms;

  @media screen and (max-width: 1300px) {
    font-size: 46px;
  }
  @media screen and (max-width: 635px) {
    font-size: 30px;
  }
  @media screen and (max-width: $small) {
    font-size: 25px;
  }
}

h2 {
  font-size: 30px;
  text-align: center;
  margin: 0;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 2px;

  color: #ede8be;
}

h3 {
  font-size: 30px;
  color: #dbd6b5e7;

  font-family: "URWDIN-REGULAR";
  font-weight: 400;
  text-align: center;
  margin: auto;
  width: auto;
  max-width: 1000px;
  white-space: pre-line;
  transition: all 1000ms linear 0ms;

  @media screen and (max-width: 635px) {
    font-size: 20px;
    width: auto;
  }
}

.yellow {
  color: #ede8be;
}
.line {
  width: 400px;
  height: 10px;
  padding-top: 15px;

  @media screen and (max-width: 1000px) {
    padding-top: 5px;
    width: 180px;
  }
  @media screen and (max-width: 700px) {
    padding-top: 5px;
    width: 120px;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.addMedMargin {
  margin-top: 10vh;
}

.addBigMargin {
  margin-top: 90vh;
}
.email {
  font-weight: 400;
  letter-spacing: 0.08em;
  width: fit-content;
  font-family: "URWDIN-Regular";
  margin: -30px 0 0 0;
  color: #e7dfa0;
  border-bottom: solid 2px #e7dfa0;
  padding: 0;
  user-select: auto;
}

p {
  font-family: "URWDIN-Regular";

  @media screen and (max-width: 635px) {
    font-size: 12px;
  }
}

.flexCol {
  flex-direction: column;
}

.weibo-logo {
  width: 40px;
  cursor: pointer;
  margin: 10px 0 0 10px;
  transition: all 100ms linear 0ms;

  &:hover {
    width: 45px;
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.startIcon {
  animation: 2s infinite alternate opacity;
  user-select: none;
}
.startButton {
  font-size: 15px;
  border-radius: 7px;
  font-weight: 700;
  letter-spacing: 0.08em;
  font-family: "URWDIN-Bold";
  width: 120px;
  background: #c6c2a3;
  padding: 6px 6px;
  border: none;
  transition: all 100ms linear 0ms;
  cursor: pointer;
  &:hover {
    width: 150px;
    background: #f1de54;
  }
}

@keyframes opacity {
  from {
    opacity: 0.9;
    padding: 0;
  }
  to {
    opacity: 0.2;
    padding-bottom: 20px;
  }
}
